@media (max-width: 900px) {
.Header {
    position: relative;
}

.Header nav {
    display: none;
}

.Header img {
    width: 35%;
    margin-left: 5%;
  }

.MobileBug {
    display: flex;
    margin-right: 30px;
    font-size: 18px;
    cursor: pointer;
}

.MobileMenuDrop {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 80vh;
    background-color: white;
}

.MobileMenuDrop .Nav ul li{
    color: black;
}

}